@import '../../../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../../../../node_modules/@nebular/theme/styles/global/breakpoints';

@import '../../../@theme/styles/themes';

@include nb-install-component() {


  .flex-centered {
    margin: auto;
  }
  nb-card-body {
    display: flex;
  }

  .title {
    text-align: center;
  }

  .sub-title {
    text-align: center;
    display: block;
    margin-bottom: 3rem;
  }

  .btn {
    margin-bottom: 2rem;
  }


  @include media-breakpoint-down(md) {
    
  }
}
